<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <!--La vista de compatibilidad le permite al usuario o al navegador establecer el modo de compatibilidad,
         por defecto el navegador identifica la vista de compatibilidad por medio de la versión del navegador establecida
         permiten al navegador mostrar las páginas web que no cumplen con los estándares -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}FaceSmash{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
        <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons'>
        <link rel="stylesheet" href="css/style.css">


    </head>
    <body>
        <header>
          <div class="row">
            <div class="grid-33">
              <a href="{{ url_for('index') }}" class="logo">KFC</a>
            </div>
            <div class="grid-33">
                  <!-- Bienvenida
                a nuestro usuario y va a cambiar de nombre dinamicamente-->
                <h1> hola {% if current_user.is_authenticated %} {{current_user.username}}{% endif %}</h1>
            </div>

            <div class="grid-33">
                <!-- Inicios de sesión -->
                <!-- Vamos a colocar los iconocs de sesion -->
                {% if current_user.is_authenticated %}
                <a href="#" class="icon-power" title="Logout"></a>
                {%else%}
                <a href="{{url_for('login')}}" class="icon-power" title="Login"></a>
                <a href="{{url_for('registro')}}" class="icon-profile" title="Registro"></a>
                {%endif%}
            </div>
          </div>
        </header>
         <!-- Mensajes -->
          <!-- ALertas q hemos definido en app.py -->
          {% with messages= get_flashed_messages(with_categories=True)%}
          {%if messages%}
            {%for category, message in messages%}
            <div class="notification {{category}}"></div>
            {%endfor%}
          {%endif%}
          {%endwith%}
        <div class="row">

          <div class="main">

            <nav>

            </nav>
            {% block content %}{% endblock %}
          </div>
        </div>
        <footer>
          <div class="row">
            <p>Todos los derechos reservados</a></p>
          </div>
          <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
          <script src='https://codepen.io/andytran/pen/vLmRVp.js'></script>
          <script  src="js/index.js"></script>

    </body>
</html>

</html>
